body {
  font-family: Arial, sans-serif;
  width: 98vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#map-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: inherit;
  padding: 10px;
  box-sizing: border-box;
}

#input-meeting-room {
  padding: 8px;
  margin-bottom: 10px;
}

#input-meeting-room:focus {
  border: none;
  outline: none;
}

.cell.highlight {
  background-color: rgb(238, 22, 123);
  color: white;
}

/* Template */

.floor-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 5% auto 5%;
  grid-template-areas:
    ". roadSide ."
    "airport floor hebbal"
    ". lakeSide .";
}

.roadSide {
  grid-area: roadSide;
  text-align: center;
  background-color: grey;
  color: white;
  height: 3rem;
  position: relative;
}

.dashed {
  border-top: 3px dashed #bbb;
  border-bottom: 0;
  position: absolute;
  width: 100%;
  top: 35%;
}

.hebbal {
  grid-area: hebbal;
  place-self: center;
}
.lakeSide {
  grid-area: lakeSide;
  text-align: center;
  --mask: radial-gradient(
        2.29em at 50% calc(100% + 2em),
        #0000 calc(99% - 0.1em),
        #000 calc(101% - 0.1em) 99%,
        #0000 101%
      )
      calc(50% - 2em) calc(50% - 0.55em + 0.5px) / 4em 1.1em,
    radial-gradient(2.29em at 50% -2em, #0000 calc(99% - 0.1em), #000 calc(101% - 0.1em) 99%, #0000 101%) 50%
      calc(50% + 0.55em) / 4em 1.1em;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 4rem;
  background: linear-gradient(60deg, #4ecdc4, #00a0b0);
}
.airport {
  grid-area: airport;
  place-self: center;
}

/* Input label and legends */
.label-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.input-notes {
  font-size: 16px;
  font-weight: 500;
}

.legends-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-around;
  font-size: initial;
}

.legend {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

.legends-color {
  width: 2rem;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Floor map */
.floor {
  grid-area: floor;
  display: grid;
  border: solid 1px blue;
  padding: 2rem;
  gap: 0.3rem;

  grid-template-areas:
    ". . . . . . mr11 fr14 . . . fr13 mr10 . . . . . . . . . . . . . . . . . . ."
    ". . . . . . mr11 . . . . . mr10 . . . . . . . . . . . . . . . . . . ."
    ". . . . . . mr11 . . . . . mr10 . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    "mr14 fr16 fr15 cub5 cub5 cub5 mr12 mr12 . . . mr15 mr15 cub2 cub2 cub2 fr17 fr18 mr16 . fr19 cr07 . cr08 fr21 . mr19 mr19 . bo1 bo1 bo1"
    "mr14 cr05 cr05 cub5 cub5 cub5 . . . . . . . cub2 cub2 cub2 cr06 cr06 mr16 . fr20 cr07 . cr08 fr22 . mr19 mr19 . bo1 bo1 bo1"
    "mr13 cr05 cr05 cub5 cub5 cub5 . . . . . . . cub2 cub2 cub2 cr06 cr06 mr17 . . . . . . . . . . bo1 bo1 bo1"
    ". . . wr2 wr2 wr2 wr2 lft2 lft2 str2 lft1 lft1 wr1 wr1 wr1 wr1 mr18 mr18 mr18 . str1 str1 str1 str1 str1 . mr05 mr05 cub1 cub1 cub1 cub1"
    ". . . wr2 wr2 wr2 wr2 lft2 lft2 str2 lft1 lft1 wr1 wr1 wr1 wr1 . . . . str1 str1 str1 str1 str1 . mr05 mr05 cub1 cub1 cub1 cub1"
    ". . . wr2 wr2 wr2 wr2 lft2 lft2 str2 lft1 lft1 wr1 wr1 wr1 wr1 . . . . str1 str1 str1 str1 str1 . mr05 mr05 cub1 cub1 cub1 cub1"
    "mr09 mr09 mr09 wr2 wr2 wr2 wr2 lft2 lft2 str2 lft1 lft1 wr1 wr1 wr1 wr1 . . . . str1 str1 str1 str1 str1 . mr04 mr04 cub1 cub1 cub1 cub1"
    "mr08 cr04 cr04 cub4 cub4 cub4 . . . . . . . cub3 cub3 cub3 fr03 fr03 mr02 . . . . . . . fr05 fr06 cub1 cub1 cub1 cub1"
    "mr07 fr10 fr09 cub4 cub4 cub4 mr06 mr06 . . . mr01 mr01 cub3 cub3 cub3 cr02 fr04 mr03 . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . fr08 fr07 cr03 bo2 bo2 cr01 fr01 fr02 . . . . . . . . . . . . . . . . . . .";
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #cae7ee;
  cursor: pointer;
}

.cell:hover {
  transform: scale(1.5);
}

.cell-emergency {
  background: #14dab5;
}

.cell-work {
  background: #ebf0d5;
}

.cell-breakout {
  background: #edd400;
}

.cell-washroom {
  background: #6183e0;
}

.cell-lift {
  background: #d0c6b6;
}

/* Grid Areas */
.str1 {
  grid-area: str1;
}
.str2 {
  grid-area: str2;
}
.bo1 {
  grid-area: bo1;
}
.bo2 {
  grid-area: bo2;
}
.cub1 {
  grid-area: cub1;
}
.cub2 {
  grid-area: cub2;
}
.cub3 {
  grid-area: cub3;
}
.cub4 {
  grid-area: cub4;
}
.cub5 {
  grid-area: cub5;
}
.wr1 {
  grid-area: wr1;
}
.wr2 {
  grid-area: wr2;
}
.lft1 {
  grid-area: lft1;
}
.lft2 {
  grid-area: lft2;
}

/* CR */
.cr01 {
  grid-area: cr01;
}
.cr03 {
  grid-area: cr03;
}
.cr04 {
  grid-area: cr04;
}
.cr05 {
  grid-area: cr05;
}
.cr06 {
  grid-area: cr06;
}
.cr07 {
  grid-area: cr07;
}
.cr08 {
  grid-area: cr08;
}

/* FR */
.fr01 {
  grid-area: fr01;
}
.fr02 {
  grid-area: fr02;
}
.fr05 {
  grid-area: fr05;
}
.fr06 {
  grid-area: fr06;
}
.fr07 {
  grid-area: fr07;
}
.fr08 {
  grid-area: fr08;
}
.fr09 {
  grid-area: fr09;
}
.fr10 {
  grid-area: fr10;
}
.fr15 {
  grid-area: fr15;
}
.fr16 {
  grid-area: fr16;
}
.fr17 {
  grid-area: fr17;
}
.fr18 {
  grid-area: fr18;
}
.fr19 {
  grid-area: fr19;
}
.fr20 {
  grid-area: fr20;
}
.fr22 {
  grid-area: fr22;
}
.fr21 {
  grid-area: fr21;
}

/* MR */
.mr01 {
  grid-area: mr01;
}
.mr02 {
  grid-area: mr02;
}
.mr03 {
  grid-area: mr03;
}
.mr04 {
  grid-area: mr04;
}
.mr05 {
  grid-area: mr05;
}
.mr06 {
  grid-area: mr06;
}
.mr07 {
  grid-area: mr07;
}
.mr08 {
  grid-area: mr08;
}
.mr09 {
  grid-area: mr09;
}
.mr12 {
  grid-area: mr12;
}
.mr13 {
  grid-area: mr13;
}
.mr14 {
  grid-area: mr14;
}
.mr15 {
  grid-area: mr15;
}
.mr16 {
  grid-area: mr16;
}
.mr17 {
  grid-area: mr17;
}
.mr18 {
  grid-area: mr18;
}
.mr19 {
  grid-area: mr19;
}

/* PH */
.fr20 {
  grid-area: fr20;
}
.cr02 {
  grid-area: cr02;
}
.fr03 {
  grid-area: fr03;
}
.fr04 {
  grid-area: fr04;
}
.mr11 {
  grid-area: mr11;
}
.fr14 {
  grid-area: fr14;
}
.mr10 {
  grid-area: mr10;
}
.fr13 {
  grid-area: fr13;
}
